// font family
*, *::before, *::after {
    font-family: 'Hanken Grotesk', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 500;
}


// variables

    // colors
    $primary-1 : hsl(0, 100%, 67%);
    $primary-2 : hsl(39, 100%, 56%);
    $primary-3 : hsl(166, 100%, 37%);
    $primary-4 : hsl(234, 85%, 45%);
    
    $primary-1-light : hsla(0, 100%, 67%, .075);
    $primary-2-light : hsla(39, 100%, 56%, .075);
    $primary-3-light : hsla(166, 100%, 37%, .075);
    $primary-4-light : hsla(234, 85%, 45%, .075);

    $bg-1 : hsl(252, 100%, 67%);
    $bg-2 : hsl(241, 81%, 54%);


    $circle-1 : hsla(256, 72%, 46%, 1);
    $circle-2 : hsla(241, 72%, 46%, 0);

    $light: white;
    $dark: hsl(222, 29%, 27%);

    // units
    $padding : 1.75rem; 
    $radius : 2rem; 
    $size : 16px;
    $opacity: .5;
    $opacity-light: .45;



// mixin
@mixin flex($direction: column) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

// global
.container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    height: auto;
    max-width: 30rem;
    margin: auto;
}


// Result section
.result__container {
    padding: $padding;
    background-image: linear-gradient(to bottom right, $bg-1, $bg-2);
    border-radius: 0 0 $radius $radius;
    @include flex(column);
    gap: $padding;

    grid-row: 1 / 2;

    & > .caption {
        color: $light;
        opacity: $opacity;
        font-size: calc($size * 1.125);
        font-weight: 700;
    }

    & .result {
        text-align: center;
        color: $light;
        
        &--circle {
            padding: $padding;
            display: block;
            background-image: linear-gradient(to bottom, $circle-1, $circle-2);
            border-radius: 100%;
            aspect-ratio: 1 / 1;
            
            &-content {
                width: 100%;
                height: 100%;
                @include flex(column);

            }
            &__score {
                font-size: calc($size * 3);
                font-weight: 800;
            }
    
            &__max {
                font-size: calc($size * .9);
                opacity: $opacity-light;
            }
        }


        &--text {
            width: 70%;
            margin: 0 auto;
            @include flex(column);
            gap: calc($padding * .25);

            h1 {
                font-size: calc($size * 1.35);
                font-weight: 700;
            }
            p {
                font-size: calc($size * .9);
                opacity: $opacity;
            }
        }
    }
}

// Summary section
.summary__container {
    padding: $padding calc($padding * 1.25);
    color: $dark;

    & > h2 {
        font-weight: 700;
        font-size: calc($size * 1.125);
    }

    .list {
        margin: calc($padding * .75) 0;
        @include flex(column);
        list-style: none;
        gap: calc($padding * .75);
    
    
        &__item {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            padding: calc($padding * .5) calc($padding * .7);
            border-radius: calc($padding * .25);
            gap: calc($padding * .25);

            & img {
                grid-column: 1 / 2;
                object-fit: contain;
            }
            
            & > strong {
                grid-column-start: 2 / 7;
                font-size: calc($size * .85);
                font-weight: 800;

            }

            & .item__score {
                grid-column-end: 11;
                display: inline-flex;
                gap: calc($size * .25);
                align-items: center;
                color: $dark;
                font-size: calc($size * .85);

                & strong {
                    font-weight: 800;
                }
                & span {
                    font-weight: 700;
                    opacity: $opacity;
                }
            }
        }

    }

    .item {
        &-1 {
            color: $primary-1;
            background-color: $primary-1-light;
        }
        &-2 {
            color: $primary-2;
            background-color: $primary-2-light;
        }
        &-3 {
            color: $primary-3;
            background-color: $primary-3-light;
        }
        &-4 {
            color: $primary-4;
            background-color: $primary-4-light;
        }
    }

    button {
        & {
            padding: calc($padding * .5);
            border-radius: $radius;
            width: 100%;
            border: transparent;
            outline: none;
            background-color: $dark;
            color: $light;
            margin-top: calc($padding * .75);
            cursor: pointer;
            transition: all .25s ease;
        }

        &:hover,
        &:focus {
            background-image: linear-gradient(to bottom right, $bg-1, $bg-2);
        }
    }

}


// attribution/footer section
.attribution {
    position: absolute;
    z-index: -999;
    scale: 0;
    opacity: 0;
    pointer-events: none;
}


@media screen and (min-width:768px) {
    body {
        display: grid;
        min-height: 100vh;
        min-height: 100dvh;
        place-items: center;
    }
    .container {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, 1fr);
        filter: drop-shadow(0 1px 1rem $primary-4-light);    
        background-color: $light;
        border-radius: calc($radius * .5);
        max-width: 45rem;
    }
    .result__container {
        border-radius: calc($radius * .5);
        grid-column: 1 / 2;
    }
    
    .summary__container {
        grid-column: 2 / 3;
    }
}

// disabling the default browser text select style
.result__container *::selection {
    background-color: transparent;
    color: $primary-2;
}
.summary__container *::selection {
    background-color: transparent;
    color: $dark;
}
