// font family
*, *::before, *::after {
    font-family: 'Hanken Grotesk', sans-serif;
}
// variables

$primary-1 : hsl(0, 100%, 67%);
$primary-2 : hsl(39, 100%, 56%);
$primary-3 : hsl(166, 100%, 37%);
$primary-4 : hsl(234, 85%, 45%);

$bg-1 : hsl(252, 100%, 67%);
$bg-2 : hsl(241, 81%, 54%);


$circle-1 : hsla(256, 72%, 46%, 1);
$circle-2 : hsla(241, 72%, 46%, 0);








